/*
 * Default
 */

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  color: orange;
  font-size: 6.8rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 4.0rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
}

h3 {
  font-size: 2.4rem;
  font-family: 'Roboto', sans-serif;
}

h4 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: rgb(60, 153, 248);
}

p {
  font-weight: 400;
}

iframe {
  max-width: 100%;
}

/*
 * Header
 */

.header {
  padding-top: 4.5rem;
  padding-bottom: 1.5rem;
}

.save-the-date {
  width: 40rem;
}

.logo {
  width: 30rem;
  max-width: 90%;
}

.logo, .description, .header-buttons {
  padding-top: 1.5rem;
}

.btn {
  transition: all .2s ease-in-out;
}

.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn-nate {
  color: #fff;
  background-color: rgb(60, 153, 248);
  border-color: rgb(60, 153, 248);
}

.btn-nate:hover {
  color: #fff;
  background-color: rgb(34, 86, 138);
  border-color: rgb(34, 86, 138);
}

.btn-nate:focus {
  box-shadow: none;
}
/*
 * Content
 */

.content-title {
  padding: 0 0 1rem 0;
}

.content-row {
  padding: 1.5rem 0;
}

@media (max-width: 767px) {
  .secondary-column {
    padding-top: 1.5rem;
  }
}

/*
 * Carousel
 */

.carousel-control-next, .carousel-control-prev {
  width: inherit;
}

/*
 * Footer
 */

.copyright {
  font-size: 0.8rem;
  color: rgb(60, 153, 248);
}

/*
 * Nav
 */
.nav-link.active {
  color: rgb(60, 153, 248) !important;
}
