<div class="container">
	<div id="attire" class="row content-row bg-white">
		<div class="col-md-12">
			<h4 class="content-title">Attire</h4>
			<div class="content">
				<p>Our ceremony and reception will take place both inside and outside, weather permitting. February in Austin is typically mild with lows in the 40’s and highs in the 70’s. Please dress in layers to prepare for cool and warm weather. Attire for the wedding is what you're most comfortable wearing. Want to get dressed up? Dress down? Great! We want you to be you!</p>
			</div>
		</div>
	</div>
</div>