<div class="container">
	<div id="first-dance" class="row content-row bg-white">
		<div class="col-md-6">
			<h4 class="content-title">Our First Dance</h4>
			<div class="col text-center embed-responsive embed-responsive-16by9">
				<iframe src="https://iframe.videodelivery.net/355df10f03cc2b60ecdc4d705b50123b" style="border: none;" height="720" width="1280" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>
			</div>
		</div>
		<div id="Mother & Groom Dance" class="col-md-6 secondary-column">
			<h4 class="content-title">Mother & Groom Dance</h4>
			<div class="col text-center embed-responsive embed-responsive-16by9">
				<iframe src="https://iframe.videodelivery.net/4dfc07b1759274ff5624bcc6f7af0c96" style="border: none;" height="720" width="1280" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>
			</div>
		</div>
	</div>
</div>