<div class="container">
	<div id="first-dance" class="row content-row bg-white">
		<div class="col-md-6">
			<h4 class="content-title">Our First Dance</h4>
			<div class="col text-center embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/i6HwRuIiviI" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div id="Mother & Groom Dance" class="col-md-6 secondary-column">
			<h4 class="content-title">Mother & Groom Dance</h4>
			<div class="col text-center embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IcEOw7kyedQ" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>