<div id="home" class="header container">
	<div class="row">
		<div class="col text-center embed-responsive embed-responsive-16by9">
			<iframe src="https://iframe.videodelivery.net/a86c84de650592bfa305a443c5cdba11" style="border: none;" height="720" width="1280" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>
			<!--img src="{{ .Site.BaseURL }}images/save-the-date.jpg" class="save-the-date img-fluid img-thumbnail"-->
		</div>
	</div>
</div>
