<div class="container">
	<div class="row content-row bg-white">
		<div id="our-relationship" class="col-md-12">
			<h4 class="content-title">Our Relationship</h4>
			<div class="content">
				<p>We met in September 2013 and we've captured some of the interesting times we've spent together on our website.</p>
				<a href="https://nateanddanielle.love/"  class="btn btn-nate" role="button" target="_blank">
					<i class="fas fa-flower-daffodil"></i> Our Relationship
				</a>
			</div>
		</div>
	</div>
</div>