<div class="container">
	<div id="photos" class="row content-row bg-white">
		<div class="col-md-12">
			<h4 class="content-title">Photos</h4>
			<div class="content">
				<p>Check out all the photos and videos from the day here!</p>
				<a href="https://photos.google.com/share/AF1QipPl0nLIK9LqoN0E1W2cYGSq7w-3CwpIFYRRKoheDuartRtEigp-4azmXViTq8ff-Q?key=RFRNNHFXWHdZak8zbXc3VEpBeDBITGF5MEhhVkdR"  class="btn btn-nate" role="button" target="_blank">
					<i class="fas fa-images"></i> Nate & Danielle's Wedding Album
				</a>
			</div>
		</div>
	</div>
</div>