<div class="container">
	<div id="venue" class="row content-row bg-white">
		<div class="col-md-8">
			<h4 class="content-title">The Venue</h4>
			<div class="content">
				<p>The Charles Page Zilker Clubhouse is part of Austin's iconic 351-acre Zilker Park. Designed by Charles Page, the limestone structure was built in 1934 by the Civil Works Administration (CWA) for the local Boy Scouts group. Sitting atop the highest peak of Zilker Park, the Clubhouse provides breathtaking views of Downtown Austin’s skyline.</p>
				<p>Our ceremony and reception will take place both inside and outside, weather permitting. Please dress in layers to prepare for cool and warm weather. February in Austin is typically mild with lows in the 40’s and highs in the 70’s.</p>
				<p>Parking is available on site for approximately 50 cars. Please carpool to ensure enough space for everyone. Parking outside of the gate is prohibited and subject to towing.</p>
				<p>Smoking is not allowed anywhere on the property.</p>
			</div>
			<!--img src="{{ .Site.BaseURL }}images/venue-slim.jpg" class="venue img-fluid"-->
		</div>
		<div class="col-md-4">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.7662863182254!2d-97.77856277215614!3d30.27223964018268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b537d49cac0d%3A0x1420a4102ffad884!2sZilker+Park+Clubhouse!5e0!3m2!1sen!2sus!4v1558239688149!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>